= form_for @feed_table do |f|
  -if @feed_table.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed_table.errors.count, "error")} prohibited this feed_table from being saved:"
      %ul
        - @feed_table.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :balance
    = f.text_field :balance
  .field
    = f.label :unload_address
    = f.text_field :unload_address
  .field
    = f.label :sale_address
    = f.text_field :sale_address
  .field
    = f.label :open_time
    = f.time_select :open_time
  .field
    = f.label :close_time
    = f.time_select :close_time
  .field
    = f.label :modality
    = f.text_field :modality
  .field
    = f.label :other_activities
    = f.text_field :other_activities
  .field
    = f.label :basic_unit
    = f.text_field :basic_unit
  .actions
    = f.submit 'Save'
