= form_for @pedido do |f|
  - if @pedido.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pedido.errors.count, "error")} prohibited this pedido from being saved:"
      %ul
        - @pedido.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :estado
    = f.text_field :estado
  .actions
    = f.submit 'Save'
