%h1 Listing basic_units

%table
  %tr
    %th Name
    %th Commune
    %th Neighborhood
    %th Address
    %th
    %th
    %th

  - @basic_units.each do |basic_unit|
    %tr
      %td= basic_unit.name
      %td= basic_unit.commune
      %td= basic_unit.neighborhood
      %td= basic_unit.address
      %td= link_to 'Show', basic_unit
      %td= link_to 'Edit', edit_basic_unit_path(basic_unit)
      %td= link_to 'Destroy', basic_unit, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Basic unit', new_basic_unit_path
