%h2 Editando atributos
= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f|
  = f.input :description
  = f.input :quantity
  = f.input :weight, input_html: { min: 0 }
  = f.association :supplier
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
