- model_class = Product
.page-header
  %h1=t '.title', :default => model_class.model_name.human(count: 'other')

.row-fluid

  .span2
    %ul.nav.nav-list.well
      %li.nav-header= t('.actions', :default => t("helpers.actions"))
      %li.active= link_to t('.list', :default => t("helpers.links.list")), products_path
      %li= link_to t('.new', :default => t("helpers.links.new")), new_product_path
  
  .span10
    = bootstrap_flash
    
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:description)
          %th= model_class.human_attribute_name(:quantity)
          %th= model_class.human_attribute_name(:weight)
          %th= model_class.human_attribute_name(:supplier)
      %tbody
        - @products.each do |product|
          %tr.pointer{'data-link' => product_path(product)}
            %td= link_to product.description, product_path(product)
            %td= product.quantity
            %td= number_to_weight product.weight
            %td= product.supplier.name
